.Login {
  margin-top: 45px;
  background-color: #bbbbbb;
  color: rgb(0, 0, 0);
  border-radius: 35px;
  padding: 15% 15%;
}

.loginForm {
  padding: 5px;
}

.item {
  margin-top: 20px;
}

.checkbox {
  display: inline;
  padding-left: 5px;
  color: #363636;
}

.didnt-signup {
  font-size: 0.85rem;
  padding-left: 15px;
  display: inline;
  display: flex;
  align-items: center;
  margin: 0;
  color: #777777;
}

.didnt-signup a {
  display: inline;
}

.last-form-sec {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 600px) {
  .Login {
    padding: 15% 10%;
    /* margin-bottom: 30px; */
    /* height: 70vh; */
  }
  .register-btn {
    color: rgb(74, 112, 238) !important;
  }
}
