@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Scheherazade+New:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "EB Garamond", serif; */
  font-family: "Libre Franklin", sans-serif;
}

.App {
  /* height: 100vh; */
  background: linear-gradient(to bottom, #231a2e, #322542);
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(207, 207, 207);
  background: rgb(106, 69, 167);
}

::selection {
  color: rgb(209, 209, 209);
  background: rgb(106, 69, 167);
}
